@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --c-dark: #000000;
  --c-light: #FFFFFF;

  --c-main: #490E84;
  --c-accent: #574B63;

  --c-gray: #717171;
  --c-gray-2: #988E9F;
  --c-gray-3: #F5F5F7;

  --border-radius: 30px;

  --filter-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  --base-font-family: 'Inter';
  --base-font-weight: 400;
  --base-font-size: 14px;

  --grid-width: 1100px;
  --grid-padding: 15px;

  --transition-duration: 0.2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: 1.3;
}

.header,
.footer {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
}

a,
button,
input {
  transition: var(--transition-duration);
}

button,
input {
  font: inherit;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

h1,
h2 {
  text-transform: uppercase;
}

p:not(:last-child) {
  margin-bottom: 30px;
}

.container {
  width: 100%;
  max-width: calc(var(--grid-width) + var(--grid-padding) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--grid-padding);
  padding-right: var(--grid-padding);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--c-main);
  background-color: var(--c-light);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: var(--c-light);
  background-color: var(--c-main);
}

.button--purple {
  color: var(--c-light);
  background-color: var(--c-main);
}

.button--purple:hover {
  color: var(--c-main);
  background-color: var(--c-light);
}

.header,
.footer {
  background-color: var(--c-dark);
  color: var(--c-gray);
}

.header a,
.footer a {
  color: inherit;
}

.header a:hover,
.footer a:hover {
  color: var(--c-light);
}

.header__inner,
.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 30px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
}

.header__logo-wrapper,
.footer__logo-wrapper {
  display: flex;
  justify-content: center;
}

.header__menu-list {
  display: flex;
  column-gap: 30px;
}

.footer__policy {
  font-size: 14px;
}

.hero {
  padding-top: 65px;
  padding-bottom: 40px;
  background-color: var(--c-gray-3);
  filter: var(--filter-shadow);
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-size: 64px;
  line-height: 1.2;
  color: var(--c-main);
}

.hero__title:not(:last-child) {
  margin-bottom: 38px;
}

.hero__image {
  max-width: 937px;
}

.hero__image:not(:last-child) {
  margin-bottom: 28px;
}

.section:not(:first-child) {
  padding-top: 70px;
}

.section:not(:last-child) {
  padding-bottom: 70px;
}

.section__title {
  font-size: 32px;
  text-align: center;
  color: var(--c-gray);
}

.section__title:not(:last-child) {
  margin-bottom: 50px;
}

.whats-new {
  display: flex;
  align-items: center;
  gap: 30px max(50px, 10%);
}

.whats-new__image {
  max-width: 350px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px max(30px, 7%);
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__image {
  max-width: 240px;
}

.product-card__image:not(:last-child) {
  margin-bottom: 20px;
}

.product-card__title {
  font-size: 20px;
  font-weight: 700;
}

.product-card__title:not(:last-child) {
  margin-bottom: 10px;
}

.feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feedback__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 60px;
  color: var(--c-gray-3);
  background-color: var(--c-accent);
}

.feedback__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.feedback__image {
  height: 100%;
  object-fit: cover;
}

.form__title {
  font-size: 32px;
  color: var(--c-light);
}

.form__title:not(:last-child) {
  margin-bottom: 85px;
}

.form {
  color: var(--c-gray-2);
}

.form__body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form__body:not(:last-child) {
  margin-bottom: 30px;
}

.form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.input {
  display: inline-flex;
  align-items: center;
  height: 30px;
  width: 100%;
  color: var(--c-light);
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: var(--c-light);
}

.input:focus {
  border-color: var(--c-light);
}

.input::placeholder {
  color: var(--c-gray-2);
}

@media (max-width: 1023px) {
  .header__inner,
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }

  .header__logo-wrapper,
  .footer__logo-wrapper {
    order: -1;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .header__contacts,
  .footer__contacts {
    flex: 0 0 100%;
  }

  .hero__title {
    font-size: 48px;
  }

  .section:not(:first-child) {
    padding-top: 35px;
  }

  .section:not(:last-child) {
    padding-bottom: 35px;
  }

  .section__title {
    font-size: 24px;
  }

  .section__title:not(:last-child) {
    margin-bottom: 35px;
  }

  .feedback {
    grid-template-columns: 1fr;
  }

  .feedback__body {
    padding: 40px;
  }

  .form__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .form__title {
    font-size: 24px;
  }

  .feedback__image {
    height: auto;
  }
}

@media (min-width: 768px) {
  .hero__button {
    min-width: 350px;
    min-height: 70px;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .header__inner,
  .footer__inner {
    font-size: 16px;
  }

  .logo {
    max-width: 30px;
  }

  .hero__title {
    font-size: 28px;
  }

  .whats-new {
    flex-direction: column-reverse;
  }

  .section:not(:first-child) {
    padding-top: 20px;
  }

  .section:not(:last-child) {
    padding-bottom: 20px;
  }

  .section__title {
    font-size: 20px;
  }

  .section__title:not(:last-child) {
    margin-bottom: 25px;
  }

  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 413px) {
  .catalog__list {
    grid-template-columns: 1fr;
  }
}